<!DOCTYPE html>

<html>

<head>
    <!-- TITLE OF THE PAGE -->
    <title>
        <%=title%>
    </title>
    <!-- FONT AWESOME -->

    <!-- CSS -->
    
</head>

<body>
    <!-- HEADER -->

    <!-- BODY -->
    
    <%- include('home') %>
    


        <!-- FOOTER -->

        <!-- JAVASCRIPT -->
        <script type="text/javascript">console.log(99)</script>
    
</body>

</html>