.container{
    height:400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.center-text h1 {
    font-size: 44px;
    font-family: Franklin Gothic Medium;
    text-align: center;
  }
  .center-text p {
  font-size: 22px;
  font-family: Franklin Gothic;
  text-align: center;
  color: gray;
  margin-top: 10px;
}
.input-container {
    
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  height: 150px;
  background-color: #f8f8f8;
  border: 2px dashed lightgrey;
}
.upload-btn {
  width: 130px;
  height: 40px;
  border: none;
  background-color: #4b88fd;
  color: #fff;
  font-size: 16px;
  border-radius: 7px;
}
.uploaded-files{
    color: #f8f8f8;
    font-family: Franklin Gothic;
    text-align: center;
    background-color: rgb(102, 147, 112);
    margin-top: 50px;
}
.no-file {
    margin-top: 10px;
    font-size: 22px;
    color: steelblue;
    font-family: Franklin Gothic;
    text-align: center;
  }
